---
import config from "@/config/config.json";
import { markdownify } from "@/lib/utils/textConverter";
const { copyright } = config.params;
---

<footer class="pt-12 pb-12">
  <div class="container text-center">
    <p>feet</p>
  </div>
</footer>
