html {
  @apply text-base;
}

body {
  @apply bg-body font-primary font-normal leading-relaxed text-text;

  --primary-stripe-rgb: #232135;
  --secondary-stripe-rgb: #282540;
  --bg-color: rgba(42, 41, 56, 0.7);

  background-size: 100% 5em, 30px 30px;
  background-image: linear-gradient(to bottom, var(--bg-color) 0%, var(--bg-color) 85%, #00000000 100%),
    linear-gradient(
    -45deg,
    var(--primary-stripe-rgb) 25%,
    var(--secondary-stripe-rgb) 25%,
    var(--secondary-stripe-rgb) 50%,
    var(--primary-stripe-rgb) 50%,
    var(--primary-stripe-rgb) 75%,
    var(--secondary-stripe-rgb) 75%,
    var(--secondary-stripe-rgb) 100%
  );

  background-repeat: no-repeat, repeat; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4 font-medium;
}

h5,
.h5 {
  @apply text-h5 font-medium;
}

h6,
.h6 {
  @apply text-h6 font-medium;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}
