---
import ImageMod from "@/components/ImageMod.astro";
import Pagination from "@/components/Pagination.astro";
import Social from "@/components/Social.astro";
import Base from "@/layouts/Base.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";
import type { Button, Feature } from "@/types";
import { getEntry } from "astro:content";

import config from "@/config/config.json";
import social from "@/config/social.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import Post from "@/components/Post.astro";
// import Pagination from "@layouts/components/Pagination";
// import Post from "@layouts/components/Post";
// import Social from "@layouts/components/Social";
const { blog_folder } = config.settings;
const posts = await getSinglePage("posts");
const { pagination } = config.settings;
const sortPostByDate = sortByDate(posts);
import mmm from "@/pages/mmm.mp3";

const contact = await getEntry("contact", "-index");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contact.data;
const { Content } = await contact.render();


interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    button: Button;
  };
  features: Feature[];
}
---


<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section pt-[72px]">
    <div class="container">
      <div class="row">
        <div class="mx-auto lg:col-8">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
