<script client:load>
import music

const playlist = document.getElementById("playlist")!;

music.forEach(song => {

    playlist.innerHTML += `

    <div class="bg-black bg-opacity-15 rounded-md flex border-b-3 pt-1 pb-3 cursor-pointer hover:shadow-md px-2 mt-1 mb-1">
      <img class='w-10 h-10 object-cover rounded-lg' alt='User avatar' src='/images/developer.png'>
      <div class="flex flex-col px-4 w-full pb-2">
          <span class="text-sm text-purple-400 capitalize font-semibold pt-1">
            ` + song.title + `
          </span>
          <span class="text-xs text-gray-300 uppercase font-medium ">
            ` + song.file + `
          </span>
      </div>
    </div>
    `;


</script>
